{% extends "base.html.twig" %}
{% block title %}
	<title>Dashboard</title>
{% endblock %}
{% block content %}
	<a href="?route=invoices/add" class="btn btn-primary">Add new invoices</a>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Company Name</th>
				<th scope="col">Amount</th>
				<th scope="col">Sending At</th>
				<th scope="col">Paid For</th>
				<th scope="col">Status</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for invoice in invoices %}
				<tr>
					<th scope="row">xxxx</th>
					<td>{{ invoice.amount }}</td>
					<td>{{ invoice.sendingAt }}</td>
					<td>{{ invoice.paidFor }}</td>
					<td>{{ invoice.status }}</td>
					<td>
						<a href="?route=invoices/edit&id={{ invoice.id }}" class="btn btn-primary">Edit</a>
						<a href="?route=invoices/delete&id={{ invoice.id }}" class="delete btn btn-danger">Delete</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
{% block script %}
	<script>
		let deleteBtnList = document.querySelectorAll(".delete");

deleteBtnList.forEach((btn) => {
btn.addEventListener("click", function (event) {
event.preventDefault();

fetch(this.href).then((response) => {
this.closest("tr").remove();
}).catch((error) => console.log(error));
});
});

fetch("?route=invoices/getjson").then((res) => res.json()).then((data) => console.log(data)).catch((error) => console.log(error));
	</script>
{% endblock %}
